
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HTML Result</title>
	<script>
	// this function changing the font to the selected font from the user -->
	function changeFont(font) {
		document.getElementById("Body").style.fontFamily = font.value;
	}
	// zoom-in zoom-out functions -->
	function zoomIn()
		{
			var Page = document.getElementById('Body');
			var zoom = parseInt(Page.style.zoom) + 10 +'%'
			Page.style.zoom = zoom;
			return false;
		}
 
	function zoomOut()
		{
			var Page = document.getElementById('Body');
			var zoom = parseInt(Page.style.zoom) - 10 +'%'
			Page.style.zoom = zoom;
			return false;
		}
	
	</script>
	<style>
		body{
			background-color:#ffff99;
		}
		video-stream{
		display: block; 
		width: auto; 
		margin: 0 auto;
	}
	</style>
</head>
<body   id="Body" style="zoom: 100%" contenteditable="true"  >
    <div class="container body-content">
	
	
        <!-- select the font you want to change          
        ,alert('the font has been changed') is to send message to the client the the font has been changed         -->
	<select id="select_font" onchange="changeFont(this),alert('the font has been changed');" >
            <option value="Arial">Arial</option>
            <option value="Sans Serif" selected>Sans Serif</option>
            <option value="Comic Sans MS">Comic Sans MS</option>
            <option value="Times New Roman">Times New Roman</option>
            <option value="Courier New">Courier New</option>
            <option value="Verdana">Verdana</option>
            <option value="Trebuchet MS">Trebuchet MS</option>
            <option value="Arial Black">Arial Black</option>
            <option value="Impact">Impact</option>
            <option value="Bookman">Bookman</option>
            <option value="Garamond">Garamond</option>
            <option value="Palatino">Palatino</option>
            <option value="Georgia">Georgia</option>
        </select>
		
		
	<!--zoom in zoom out buttons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
	<a class="btn zoom" id="zoom" onclick="zoomIn()" style="bottom: 190px; background: #eef; "><i class="fas fa-search-plus"></i></a>
	<a class="btn zoom-out" id="zoom-out" onclick="zoomOut()" style="bottom: 1920px; background: #eef; "><i class="fas fa-search-minus"></i></a>
    <!-- end of zoom in zoom out button -->
	
	
<div class="container">
                    <div class="row justify-content-center" style="padding-top:10px;">
<label style="text-align: center;"> <h2> video librarety of your hugim to learn<h2> </label>
                </div>
                <div class="row justify-content-start" style="padding-top:10px;">
                <div class="col" style="padding-top:10px;">
<br>
<p> <h4> krate <h4> <p>

	<iframe style="display: block; 
		width: auto; 
		margin: 0 auto;
		width:800px;
		height:400px;"  src="https://www.youtube.com/embed/BcP9AMeeJmg">
</iframe>
<br> <br>
		<iframe style="display: block; 
		width: auto; 
		margin: 0 auto;
		width:800px;
		height:400px;"  src="https://www.youtube.com/embed/h7p4yXawcTc">
</iframe>
<br> <br>
<br>
<p> <h4> judo <h4> <p>
<br> <br>
		<iframe style="display: block; 
		width: auto; 
		margin: 0 auto;
		width:800px;
		height:400px;"  src="https://www.youtube.com/embed/97Am47FuDk4">
</iframe>
<br> <br>
<br>
<br> <br>
		<iframe style="display: block; 
		width: auto; 
		margin: 0 auto;
		width:800px;
		height:400px;"  src="https://www.youtube.com/embed/Oh4y6m7YfTE">
</iframe>
<br> <br>
<br>
                </div>
                </div>
                <div class="row justify-content-start" style="padding-top:10px;">

                </div>
                </div>

</div>
<p> <h4> ninja <h4> <p>


	<iframe style="display: block; 
		width: auto; 
		margin: 0 auto;
		width:800px;
		height:400px;"  src="https://www.youtube.com/embed/zs18YNve_eY">
</iframe>
<br> <br>
		<iframe style="display: block; 
		width: auto; 
		margin: 0 auto;
		width:800px;
		height:400px;"  src="https://www.youtube.com/embed/poLihPaBKF8">
</iframe>
<br> <br>
<br>


    </div>
</body>
</html>
