<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Switch Template</title>
    <link href="https://fonts.googleapis.com/css?family=Heebo:400,700|IBM+Plex+Sans:600" rel="stylesheet">
    <link rel="stylesheet" href="static/ParentDesign/css/style.css">
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
</head>
<body class="is-boxed has-animations">
    <div class="body-wrap boxed-container">

        <main>
            <section class="hero">
                <div class="container">
                    <div class="hero-inner">
						<div class="hero-copy">
	                        <h1 class="hero-title mt-0">Study Learn</h1>
	                        <p class="hero-paragraph">Our website well help your child to learn more with many games and activities to get best results forever.</p>
	                        <div class="hero-cta">
								<a class="button button-primary" href="/registrationform.html">Regist your child now</a>

							</div>
						</div>
						<div class="hero-media">
							<div class="header-illustration">
								<img class="header-illustration-image asset-light" src="static/ParentDesign/images/explaningPageImages/header-illustration-light.svg" alt="Header illustration">
							</div>
							<div class="hero-media-illustration">
								<img class="hero-media-illustration-image asset-light" src="static/ParentDesign/images/explaningPageImages/hero-media-illustration-light.svg" alt="Hero media illustration">
							</div>
							<div class="hero-media-container">

                <!-- ADD A CHILD WITH COMPUTER PHOTO -->

								<img class="hero-media-image asset-light" src="static/ParentDesign/images/explaningPageImages/hero-media-light.svg" alt="Hero media">

							</div>
						</div>
          </div>
        </div>
    </section>


    <section class="features section">

     <div class="container">
        <div class="features-inner section-inner has-bottom-divider">
          <div class="features-header text-center">
            <div class="container-sm">
              <h2 class="section-title mt-0">The Product</h2>
              <p class="section-paragraph">Lorem ipsum is common placeholder text used to demonstrate the graphic elements of a document or visual presentation.</p>
              <div class="features-image">
                  <img class="features-illustration asset-light" src="static/ParentDesign/images/explaningPageImages/features-illustration-light.svg" alt="Feature illustration">
                  <img class="features-box asset-light" src="static/ParentDesign/images/explaningPageImages/features-box-light.svg" alt="Feature box">
                  <img class="features-illustration asset-light" src="static/ParentDesign/images/explaningPageImages/features-illustration-top-light.svg" alt="Feature illustration top">
             </div>
           </div>
          </div>
          <div class="features-wrap">
            <div class="feature is-revealing">
              <div class="feature-inner">
                <div>

                </div>
                <div class="feature-content">
                    <h3 class="feature-title mt-0">Study</h3>
                    <p class="text-sm mb-0">Your child well meet a simulate enviroment of study with lots of different ways to learn from it.</p>
                </div>
              </div>
            </div>
            <div class="feature is-revealing">
                <div class="feature-inner">
                  <div>

                  </div>
                  <div class="feature-content">
                      <h3 class="feature-title mt-0">Play</h3>
                      <p class="text-sm mb-0">The child well play and learn by studing games .</p>
                  </div>
                </div>
            </div>
            <div class="feature is-revealing">
                <div class="feature-inner">
                    <div class="feature-icon">

                    </div>
                    <div class="feature-content">
                      <h3 class="feature-title mt-0">Classes</h3>
                      <p class="text-sm mb-0">The child well be enter to many classes to learn more .</p>
                    </div>
               </div>
            </div>
          </div>
        </div>
     </div>
 </section>






    <script src="static/ParentDesign/js/main.min.js"></script>
</body>
</html>
