<!DOCTYPE html>
<html>
<head>
<script>
function changeFont(font) {
  document.getElementById("note_header").style.fontFamily = font.value;
}
</script>
</head>
<body  contenteditable="true" id="note_header" >

<br>

<!-- select the font you want to change          
        ,alert('the font has been changed') is to send message to the client the the font has been changed         -->
<select id="select_font" onchange="changeFont(this),alert('the font has been changed');" >
            <option value="Arial">Arial</option>
            <option value="Sans Serif" selected>Sans Serif</option>
            <option value="Comic Sans MS">Comic Sans MS</option>
            <option value="Times New Roman">Times New Roman</option>
            <option value="Courier New">Courier New</option>
            <option value="Verdana">Verdana</option>
            <option value="Trebuchet MS">Trebuchet MS</option>
            <option value="Arial Black">Arial Black</option>
            <option value="Impact">Impact</option>
            <option value="Bookman">Bookman</option>
            <option value="Garamond">Garamond</option>
            <option value="Palatino">Palatino</option>
            <option value="Georgia">Georgia</option>
        </select>
		</br>
		<br> </br>

</body>
</html> 