<header>Tell Us About Problems</header>
<head>

<link rel="stylesheet" href="form.css">
<link rel="php" herf="askTeacher.php">
</head>
<form id="form" class="topBefore" action="mailto:salkrenawi@gmail.com" method="post" enctype="text/plain">
    <input id="name" type="text" placeholder="NAME" name="name">
    <input id="email" type="text" placeholder="E-MAIL" name="email">
    <textarea id="message" type="text" placeholder="MESSAGE" name="message"></textarea>
   <input id="submit" type="submit" value="send!">
 </form>

 <h4 id ="h1-ask-teacher"> phone number of the teacher : 0520569297 </h4>
 <h4 id ="h2-ask-teacher" font="Lato"> phone number of the teacher : stusypaly@gmail.com </h4>
